#fiXed{
    display: block;
    padding: 18px 20px 20px;
    position: fixed;
    right: 20px;
    bottom: 25px; 
}
#menulogo{
    max-width: 130px;
}

.fa-arrow-down{
    margin-right: 10px;
}


.baslik{
    color: white;
    text-shadow: 4px 4px 0px #5f5c5c;
}

.sidebar-nav{
    margin-top: 10px;
}
.tarihce-resim{
    max-width: 500px;
}

html{
    scroll-behavior: smooth;
}