<section id="vizyon" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Vizyon</h1>
        <hr class="small">
        <p> Günlük hayatta Türkiye ve dünyada dörtbir köşesinde binlerce litre tüketilen sıvının sektöründe ki en büyük
          üretici firma olan Coca – Cola dünya genelindeki firma vizyonunu üç ana başlık altına alıyor: Müşteriler ve
          Tüketiciler, Toplum, Çalışanlar.
        </p>
        <div class="col-12 text-center mt-3">
          <img src="img/vizyon.png" alt="">
        </div>
        <div class="col-12 mt-5" style="text-align: justify;">
          <p>Dünyada tüketim sektörünün en iyi şirketi olmak için çıktığımız yolda ürün portföyümüze ve ambalajlama
            alanındaki yeniliklere büyük önem veriyoruz. Ürünlerimizin daha fazla noktada satılmasını sağlıyor ve tüm
            gazlı içecekler portföyünde marka değerimizi arttırıyoruz. Müşterilerimizin tercih ettiği iş ortağı olmak,
            tüketicilerimize her yaşam tarzına ve duruma uygun geniş bir ürün yelpazesi sunmak için çalışıyoruz.</p>
          <p>
            Sorumlu bir kurumsal vatandaş olma amacımız doğrultusunda sürdürülebilirlik, şeffaflık ve kurumsal yönetim
            uygulamaları gibi alanlarda liderlik ediyoruz. CCI’ın güvenli bir iş yeri olması için çalışıyor, insan
            hakları ve iş yeri haklarına saygı duyuyoruz. Etkili politikalar, ürün yenilikleri ve aktif bir yaşam
            tarzına yönelik programlarımız ile tüketicilerimizin sağlığı için çalışıyoruz.
          </p>
          <p>
            Gelir artışı sağlamak ve kar marjımızı artırmak için yaptığımız planları uygulamaya devam ediyor, mükemmel bir iş yeri olma hedefimize doğru adım adım ilerliyoruz.
          </p>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>