<section id="tarihce" class="about">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Tarihçe</h1>
        <hr class="small">
      </div>
      <div class="col-6">
        <img src="img/1.jpg" alt="">
      </div>
      <div class="col-6">
        <h4>
          Coca – Cola’nın formülü 1886 yılında John S. Pemberton tarafından bulunmuştur. Morfin bağımlısı olan Pemberton
          kokainli şarap yapma fikri ile yola çıkarak kendi eklendiği kimyasallarla bir içecek ortaya koydu. Fakat
          Atlanta yasaları gereğince kullandığı kokain yaprağı ve alkol başına dert oldu.
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h4>
          Daha sonra pirinç bir çaydanlıkta serinletici ve
          alkolsüz bir şurup yapıp karbonatlı su ile karıştırdı. İkram ettiği çevresinden rağbet görmesinin ardından
          ortağı Frank Robinson ile birlikte arka bahçelerinde bardağı 5 cent’den satışa sunuldu. Frank Robinson bu 
          ürüne “Cola” adını verdi.
        </h4>
      </div>
      <div class="col-6">
        <img src="img/2.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="img/3.jpg" alt="">
      </div>
      <div class="col-6">
        <h4>
          29 Mayıs 1886 yılında ilk reklamı The Atlanta Journal’da yayınlandı. Asa Griggs Candler 1887 yılında Cola’nın
          formülünü 2.300 $ karşılığında satın aldı ve aynı yıl The Coca Cola Company firmasını kurdu. Firma Türkiye’de 1964
          yılında “Dünyaca Meşhur Coca – Cola Şimdi de Memleketimizde” sloganı ile İstanbul’da faaliyetlerine başladı.
        </h4>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>