<section id="map" class="map">
  <h1>Kurulma Yeri</h1>
  <hr class="small">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53075.286932316296!2d-84.40396432457942!3d33.75535689258458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4401b29a011fa7c9!2sWorld%20of%20Coca-Cola!5e0!3m2!1str!2str!4v1584557727698!5m2!1str!2str"
    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
  <br>
  <small id="map_iframe" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key={{ site.google_api_key }}&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </small>
</section>