<section id="misyon" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Misyon</h1>
        <hr class="small">
        <div class="col-6 text-center mt-3">
          <img class="tarihce-resim" src="img/misyon.jpg" alt="">
        </div>
        <div class="col-6 text-center">
          <p>
            Tüketicilerin kalplerindeki sevgiyi büyütmek, mutluluk ve iyimserlik aşılamak isteyen bir marka. Bu
            anlamda, sloganın da bunu yansıtmasına, bir arada olma ve paylaşma gibi kültürel değerlerin ortaya
            çıkarılmasına önem veriyor. Coca-Cola Şirketi olarak, mutluluğu yayma gibi bir misyonu var ve sloganlar da
            bu amaca hizmet ediyor.
          </p>
          <p>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>