<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >
        <img id="menulogo" src="{{ site.logo }}" alt="">
      </a>
    </li>
    <li>
      <a href="#icindekiler" onclick = $("#menu-close").click(); >İçindekiler</a>
    </li>
    <li>
      <a href="#vizyon" onclick = $("#menu-close").click(); >Vizyon</a>
    </li>
    <li>
      <a href="#misyon" onclick = $("#menu-close").click(); >Misyon</a>
    </li>
    <li>
      <a href="#tarihce" onclick = $("#menu-close").click(); >Tarihçe</a>
    </li>
    <li>
      <a href="#kurulus" onclick = $("#menu-close").click(); >Kurualuş</a>
    </li>
    <li>
      <a href="#logolar" onclick = $("#menu-close").click(); >Logolar</a>
    </li>
    <li>
      <a href="#iletisim" onclick = $("#menu-close").click(); >İletişim</a>
    </li>
  </ul>
</nav>
