<section id="pazarAnalizi" class="about mt-5">
  <div class="container">
    <div class="row mt-3">
      <div class="col-12 text-center">
        <h1>Pazar Analizi</h1>
        <hr color="blue" class="small">
      </div>
      <div class="col-12">
        <img class="img-fluid" src="img/pazar-analizi-1.jpg" alt="">
      </div>

    </div>
    <div class="row mt-5">
      <div class="col-12">
        <img class="img-fluid" src="img/pazar-analizi-2.png" alt="">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>