<section id="urunler" class="about mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Ürünler</h1>
        <hr color="blue" class="small">
        <p>(İçindekileri görmek için resimlere tıklayın.)</p>
      </div>
      <div class="urun-resimcolon col-12">
        <div class="col-3">
          <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">
            <img class="urun-resim" src="img/urun-1.png" alt="">
          </a>
        </div>

        <div class="col-3">
          <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">
            <img class="urun-resim" src="img/urun-2.png" alt="">
          </a>
        </div>

        <div class="col-3">
          <a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">
            <img class="urun-resim" src="img/urun-3.png" alt="">
          </a>
        </div>

        <div class="col-3">
          <a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">
            <img class="urun-resim" src="img/urun-4.png" alt="">
          </a>
        </div>

      </div>

      <div class="col-12 text-center">

        <div class="tab-content">

          <div class="tab-pane active mt-4" role="tabpanel" id="tab-1">
            <h2><strong>Coca-Cola Şekersiz</strong></h3>
              <h4>ENERJi VE BESiN ÖĞELERi (100 ml için):</h4>

              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>Enerji:</td>
                    <td>0,7 kJ / 0,2 kcal</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Yağ:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Doymuş Yağ:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Karbonhidrat:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Şeker:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Protein:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Tuz:</td>
                    <td>0,02 g</td>
                  </tr>
                </tbody>
              </table>

              <div class="col-12 text-center">
                <div class="h4">İçindekiler:</div>
                <p>
                  Su, karbondioksit, renklendirici (karamel), asitliği düzenleyiciler (fosforik asit, sodyum sitrat),
                  tatlandırıcılar (sukraloz, asesülfam K), aroma vericiler, koruyucu (sodyum benzoat), kafein (maks.
                  0,150 g/l)
                  Kafein içerir.
                  Tatlandırıcı içerir.
                </p>
              </div>

          </div>

          <div class="tab-pane mt-4" role="tabpanel" id="tab-2">
            <h2><strong>Coca-Cola Orijinal</strong></h3>
              <h4>ENERJi VE BESiN ÖĞELERi (100 ml için):</h4>

              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>Enerji:</td>
                    <td>188 kJ / 45 kcal</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Yağ:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Doymuş Yağ:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Karbonhidrat:</td>
                    <td>11,2 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Şeker:</td>
                    <td>11,2 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Protein:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Tuz:</td>
                    <td>0,02 g</td>
                  </tr>
                </tbody>
              </table>

              <div class="col-12 text-center">
                <div class="h4">İçindekiler:</div>
                <p>
                  Su, şeker (S)* veya fruktoz-glukoz şurubu (F)*, karbondioksit, renklendirici (karamel), asitliği
                  düzenleyici (fosforik asit), doğal aroma vericiler, kafein (maks. 0,150 g/l).
                  Kafein içerir.
                  <br><br>
                  *Kullanılan şeker veya fruktoz-glukoz şurubu paket üzerine kodlanmıştır.
                </p>
              </div>
          </div>

          <div class="tab-pane mt-4" role="tabpanel" id="tab-3">
            <h2><strong>Coca-Cola Light</strong></h3>
              <h4>ENERJi VE BESiN ÖĞELERi (100 ml için):</h4>

              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>Enerji:</td>
                    <td>0,8 kJ / 0,2 kcal</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Yağ:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Doymuş Yağ:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Karbonhidrat:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Şeker:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Protein:</td>
                    <td>0 g</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Tuz:</td>
                    <td>0 g</td>
                  </tr>
                </tbody>
              </table>

              <div class="col-12 text-center">
                <div class="h4">İçindekiler:</div>
                <p>
                  Su, karbondioksit, renklendirici (karamel), asitliği düzenleyiciler (fosforik asit, sitrik asit),
                  doğal aroma vericiler, tatlandırıcılar (aspartam*, asesülfam K), koruyucu (sodyum benzoat), kafein
                  (maks. 0,150 g/l)
                  Kafein içerir.
                  Tatlandırıcı içerir.
                  <br><br>
                  *Fenilalanin kaynağı içerir.
                </p>
              </div>
          </div>

          <div class="tab-pane mt-4" role="tabpanel" id="tab-4">
            <h2><strong>Coca - Cola + Coffee/strong></h3>
                <h4>ENERJi VE BESiN ÖĞELERi (100 ml için):</h4>

                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <th scope="row"></th>
                      <td>Enerji:</td>
                      <td>2,5 kJ / 0,6 kcal</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td>Yağ:</td>
                      <td>0 g</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td>Doymuş Yağ:</td>
                      <td>0 g</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td>Karbonhidrat:</td>
                      <td>0 g</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td>Şeker:</td>
                      <td>0 g</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td>Protein:</td>
                      <td>0 g</td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td>Tuz:</td>
                      <td>0 g</td>
                    </tr>
                  </tbody>
                </table>

                <div class="col-12 text-center">
                  <div class="h4">İçindekiler:</div>
                  <p>
                    Su, karbondioksit, renklendirici (karamel), kahve ekstraktı (%0,1), asitliği düzenleyici (fosforik
                    asit), koruyucular (potasyum sorbat, sodyum benzoat), tatlandırıcılar (aspartam*, asesülfam K),
                    aroma vericiler, kafein (maks. 0,150 g/l), köpüklenmeyi önleyici (dimetil polisiloksan).
                    Kafein içerir.
                    Tatlandırıcı içerir.
                    Kahve ekstraktı içerdiği için çökme meydana gelebilir.
                    <br><br>
                    *Fenilalanin kaynağı içerir.
                  </p>
                </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  </div>
  <!-- /.container -->
</section>