<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include header.html %} <!-- Başlangıç -->
  {% include services.html %} <!-- içindekiler-->
  {% include about.html %} <!-- vizyon-->
  {% include misyon.html %} <!-- misyon-->
  {% include callout.html %} <!-- Tarihçe-->
  {% include kurucu.html %}<!--  kuruluş-->
  {% include kurulmayeri.html %} <!-- kurulma yeri-->
  {% include urunler.html %} <!-- Ürünler-->
  {% include portfolio.html %}<!--  logolar-->
  {% include pazaranalizi.html %}<!--  Pazar Analizi-->
  {% include footer.html %}
  {% include scripts.html %}
  
  <div class="container">
    <div class="row">
        <div class="fixxed">
            <img id="fiXed" src="img/logokucuk.png" alt="">
        </div>
    </div>
</div>


</body>

</html>
